# Dependency directories
node_modules/
**/node_modules/

# Next.js build output
.next/
**/.next/
out/

# Production build outputs
dist/
build/

# Local environment variables files
.env
.env.local
.env*.local

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db
